<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="BFE-SAAS-NuGet" value="http://nexus.ck1cdn.com/repository/saas-nuget/" />
	<add key="BFE-CK1-NuGet" value="http://nexus.chukou1.com/repository/chukou1-nuget/" />
	<add key="sumy-nuget" value="http://nexus.chukou1.com/repository/sumy-nuget/" />
  </packageSources>
</configuration>